// *
// * Erdmann & Freunde - Nutshell
// * Starterkit
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// UPDATES
// --------------------------------------------------

// SOLO 1.1.1
// IE11: fix a problem with news-list--hero and news-full--hero in combination with align-bottom
.news-list--hero {
	> * {
		height: 100%;
	}
}

.news-full--hero {
	.hero {
		height: 0;
	}
}

// SOLO 1.1.0 & CONTAO 4.4.0
// here you will see only the additional css, you can add this file to your theme via default.scss
// or add this lines inside your existing project files

// COMPONENTS/NAVIGATION
// since Contao 4 is using <strong> instead of <span> for active navigation elements
.nav--main { 
  strong.active,
  strong.trail {
    padding: $nav--main__item-padding;
    text-transform: uppercase;
    text-decoration: none;
    
    @include media-query(screen-offcanvas) {
	    padding: calc((#{$header-height} - 1em) / 4) $nav--main__item-padding;
	    margin: calc((#{$header-height} - 1em) / 4) $nav--main__item-padding 0;
    }
    
    @if ($ie9-support == true) {
	    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); // [1]
    }
  }
  
  .level_2 {
	  strong.active,
	  strong.trail {
	    padding: $nav--main__item-padding--sm $nav--main__item-padding;
	    margin: 0;
	  }
	}
	
	.level_3 {
		strong.active,
	  strong.trail {
			text-transform: none;
		}
	}
}

.nav--meta {
	strong.active,
  strong.trail {
    padding: 0 $base-spacing-unit--sm;
    text-decoration: none;
    
    &.first {
      padding-left: 0;
    }
  }
}

// BASE/TYPE
// Contao 4 is using <code> inside .ce_code
code {
	pre & {
		background: none;
		color: inherit;
	}
}

// COMPONENTS/MEDIA
// contao 4.4, does no longer load youtube videos via mediaelement.js
// instead it uses an iframe. Nutshell Framework uses the .ce_youtube container
// to calculate the video ratio for responsiveness. Adding a Headline inside 
// .ce_youtube will cause wrong video dimensions
// [1] Warning not to use a Headline in Youtube
.ce_youtube {
  #{headings()} {
    position: absolute;
    z-index: 1001;
    background: $color-alert-bg;
    
    &:after {
	    content: " +++ Warning: do not use headlines inside ce_youtube, see _media.scss +++"; // [1]
    }
  }
}

